@model IEnumerable<SurfPaddleBlog.Models.Blog>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-1">
            <h2>A Fantastic Engaging Headline Goes Here</h2>
            <p><img class="img img-circle" src="http://cdn.shopify.com/s/files/1/0179/6029/products/lover_s_1024x1024.jpg?v=1387126326" height="50" width="50"> &nbsp;Some useless stuff here</p>
        </div>
        <div class="col-xs-4">
            <img class="img img-circle" src="http://cdn.shopify.com/s/files/1/0179/6029/products/lover_s_1024x1024.jpg?v=1387126326" height="100" width="100">
            <p>Name and stuff</p><p>More stuff yay</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est asperiores quas doloribus blanditiis, omnis suscipit sunt voluptate eius eveniet. Ut nam, voluptatem ad architecto sequi doloremque commodi sed ea vitae.</p><h3>| Woah, That's Radical!</h3>
        </div>
        <div class="col-xs-4">
            <img src="https://unsplash.it/150/150?image=1048" alt="">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est asperiores quas doloribus blanditiis, omnis suscipit sunt voluptate eius eveniet. Ut nam, voluptatem ad architecto sequi doloremque commodi sed ea vitae.</p>
        </div>		<div class="col-xs-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt at provident dignissimos necessitatibus, ratione aliquid temporibus! Vero sint eum inventore harum blanditiis est voluptate repellat. Magnam inventore itaque sit explicabo!</p>
        </div>
    </div>
</div>
</div>

<div class="container">
    <divclass ="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h1>MOST POPULAR POSTS</h1>
        </div>
</div>
</div>
<div class="container">
    <img class="imgsize" src="https://unsplash.it/500/300?image=1042" alt="">
    <img class="imgsize" src="https://unsplash.it/500/300?image=1042" alt="">
    <img class="imgsize" src="https://unsplash.it/500/300?image=1042" alt="">
    <img class="imgsize" src="https://unsplash.it/500/300?image=1042" alt="">
</div>