<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

    </head>
    <body>
        <div class="container-fluid containerborder">
            <div class="jumbotron headeroverall">
                <div class="container">
                    <h1 class="headertext">Valiant Vision Studios</h1><span class="underheadertext">The only thing worse than being blind is having sight but no vision</span><br><span class="underheadertext">- Helen Keller</span>
                </div>
            </div>

            @RenderBody()
            <div>
                <div class="row whiteonblack">
                    <div class="col-xs-4 col-xs-offset-2 bottompadding"><p>LOGO THING!</p></div>
                    <div class="col-xs-4 col-xs-offset-1 bottompadding"><p class="smalltext">Nav Item 1 | Nav item 2 | Nav item 3 | Nav item 5</p></div>
                </div>
            </div>
            <!-- Latest compiled and minified JavaScript -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
